.menu {
    padding: 10px;
    background-color: rgb(26, 23, 23);
    /* position: relative; */
    /* display: block; */
    display: flex;
    align-items: center;
}

.menuItem {
    margin: 1vw;
    text-decoration: none;
    color: rgb(172, 121, 27);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    /* background-color: rgb(172, 121, 27); */
    padding: 10px;
    border-radius: 15px;
    font-weight: 800;
}

.menuItem:hover{
    background-color: aliceblue;
}

.menuItem-wrapper {
    display: flex;
    /* position: absolute;
    top: 50%; */
    padding-right: 10rem;
}

.logo {

}

.menuItem-logo {
    display: flex;
    flex-grow: 1;
    padding-left: 10rem;
}

.social-wrapper{
    background: rgb(173, 136, 67);
    display: flex;
    /* flex-direction: column; */
    justify-content: right;
    align-items: center;
    max-height: 50px;
}